/* GENERAL STYLES */

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Museo Sans', 'Lato', sans-serif !important;
  font-weight: bold;
  text-transform: none;
}

.footer-widgets h3 { color: #ff9933; }

body, p {
  font-family: 'Abel', sans-serif;
  font-weight: 100 !important;
}

.page-description, .post-meta, .pagination, footer {
  font-family: 'Abel', sans-serif !important; 
  font-weight: normal;
}

blockquote {
  color: #aaa !important;
  border-left: #aaa 0.4em solid !important;
  font-size: 2em !important;
  font-family: 'Domine', serif !important;
}

header {
  max-height: 50rem !important;
}

.navbar-brand img { max-width: 250px !important; max-height: 30px;} 
/* .nav { background-color: #ff9933; color: #fafafa; } */

.content a {
  color: rgb(35,135,158) !important;
}

.content a:hover {
  color: rgb(49,53,64) !important;
}

/* THEME OVERRIDES */
.navbar {
  background: rgb(29,32,41);
  border-bottom: 5px solid #ff9933;
}

.navbar-default .navbar-brand {
  color: #ff9933;
}

.nav>li>a {
  color: #787870 !important;
}

.navbar-nav > li > a {
  line-height: 60px !important;
}

.first-article {
  height: 50%;
  margin-bottom: 1px;
}

.post-head {
  position: absolute !important;
  bottom: 25% !important;
}

.footer {
  background: rgb(49,53,64);
}

.pagination {
  text-align: center;
}
}
