h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Domine', serif !important;
  font-weight: bold;
  text-transform: none;
}

body, p, .page-description {
  font-family: 'Museo Sans', 'Lato', sans-serif;
  font-weight: light;
}

header {
  max-height: 50rem !important;
}

a {
  color: rgb(35,135,158);
}

a:hover {
  color: rgb(49,53,64);
}

.nav {
  background-color: #ff9933;
  color: #fafafa;
}

.menu-button:active {
  background-color: #ff9933;
}
