body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #fff !important;
}

a { 
  font-family: 'Abel', sans-serif !important;
  color: #23879e !important;
  text-decoration: underline;
}

a:hover { color: #ff9933; }

@media only screen and (max-device-width: 480px) {
  .container {
    margin-top: 0 !important;
  }
  
  
/* PRINT MODAL OVERRIDES */
.embed-page .request-print .modal {
    background-color: rgba(255,255,255,0.7);
    background-image: url('https://d35l3oybk21k7h.cloudfront.net/photos/photos/26734668_race_0.9398541373492305.display.jpg') !important;
    background-size: cover;
    border-radius: 3px;
    border-top: none !important;
    box-shadow: 0 2px 7px rgba(0,0,0,0.7);
}
.embed-page .request-print .modal .images { display: none; }



/* NIKE OVERRIDES */
.control, .controls-highlight, .bulk-actions, .sharing-toolbar, .bulk-actions, .control.control-highlight, .sharing-toolbar, .controls-highlight:hover, .bulk-actions:hover, .sharing-toolbar:hover, .control:hover {
    font-family: "Montserrat" !important;
    background-color: #262626;
}
